/*
  ADAMCOD.ES STYLESHEET
  --------------------------------------
  Copyright : All Rights Reserved.
  Author    : Adam Brett
  Revision  : 1
  Date      : 28 Jun 2012

/* Import Bootstrap
-------------------------------------------------- */

// CSS Reset
@import "bootstrap/reset.less";

// Core variables and mixins
@import "bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc

// Overwrite some variables

// Colours
// -------------------------
@lightBlue:              #0088CC;

// Typography
// -------------------------
@sansFontFamily:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       "Cardo", Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

@baseFontSize:          17px;
@baseFontFamily:        @serifFontFamily;
@baseLineHeight:        1.6em;
@altFontFamily:         @sansFontFamily;

@headingsFontFamily:    @altFontFamily; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    normal;         // instead of browser default, bold
@headingsColor:         @lightBlue;     // empty to use BS default, @textColor


@import "bootstrap/mixins.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";

// Base CSS
@import "bootstrap/type.less";
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: @baseLineHeight / 2;
}

@import "bootstrap/code.less";
pre,
code {
    font-size: 12px;
}

@import "bootstrap/tables.less";

// Components: Nav
@import "bootstrap/pager.less";

// Utility classes
@import "bootstrap/utilities.less"; // Has to be last to override when necessary


/*
    position
    display and box model
    font, leading, color, text
    background and border
    CSS3 properties like border-radius and box-shadow
    and a handful of other purely visual properties
*/

/* Basic
-------------------------------------------------- */
html:before {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;

    display: block;

    height: 5px;
    width: 100%;

    background: @lightBlue;

    content: "";
}


body {
    width: 760px;

    position: relative;

    margin: 0 auto;
    padding: 0 100px;
}

header {
    position: fixed;
    top: 50%;

    padding-left: 610px;

    p {
        margin-top: 1.7em;

        text-align: left;

        strong {
            a {
                font-family: @headingsFontFamily;
                font-size: 36px;

                color: @headingsColor;

                text-decoration: none;
            }
        }
    }
}

nav {
    width: 140px;

    position: fixed;
    top: 50%;

    padding-left: 610px;

    font-family: @headingsFontFamily;
    font-size: 14px;
    font-weight: bold;

    ul {
        margin: -50% 0 0;

        list-style-type: none;
    }

    a {
        text-decoration: none;

        color: @textColor;
    }
}

article {
    width: 560px;

    position: relative;
    z-index: 1;

    margin: 120px 200px 60px 0;

    h1 {
        line-height: 1.6em;
    }

    img {
        display: block;

        margin-left: auto;
        margin-right: auto;
    }

    p.meta {
        margin: -10px 0 10px;

        font-family: @headingsFontFamily;

        color: @gray;
    }
}

/* Modules
-------------------------------------------------- */
.footnotes {
    margin-top: 30px;

    font-size: 0.8em;
}

.gist {
    font-size: 12px;
    line-height: 1.6em;

    pre {
        white-space: pre;
    }
}

.gist-meta {
    padding: 0 .5em !important;

    font-size: 10px !important;
    line-height: 2em !important;
}

#disqus_thread {
    width: 400px;

    position: relative;
    z-index: 1;

    margin: 120px 200px 60px 0;
}

.twitter-button {
    margin: 14px 0;
}

/* Responsive
-------------------------------------------------- */
@media (max-width: 980px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 800px) {
    body {
        width: auto;
    }

    article {
        width: auto;

        margin: 0;
    }

    header, nav {
        position: static;

        padding: 0;
    }

        header p {
            text-align: center;
        }

    nav {
        text-align: center;
        width: auto;

        ul {
            display: inline-block;

            li {
                display: inline-block;

                margin: 0 10px;

                line-height: 1.6em;
            }
        }
    }
}

@media (max-width: 480px) {
    body {
    }

    body, p, li {
        font-size: 14px;
    }

    pre,
    code {
        font-size: 10px;
    }

    h1, header p strong a {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }
}

