<article>
{% if page.title %}
    <h1><a href="http://adamcod.es{{ page.url }}">{{ page.title }}</a></h1>
    <p class="meta"><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%A, %B %d, %Y" }}</time></p>
    <div class="twitter-button"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://adamcod.es{{ page.url }}" data-text="{{ page.title }} by @sixdaysad">Tweet</a></div>
{% endif %}
{% if post.title %}
    <h1><a href="http://adamcod.es{{ post.url }}">{{ post.title }}</a></h1>
    <p class="meta"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%A, %B %d, %Y" }}</time></p>
    <div class="twitter-button"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://adamcod.es{{ post.url }}" data-text="{{ post.title }} by @sixdaysad">Tweet</a></div>
{% endif %}

    {{ content }}
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adamcodes'; // required: replace example with your forum shortname
    var disqus_url
{% if page.url %}
    disqus_url = 'http://adamcod.es{{ page.url }}';
{% endif %}
{% if post.url %}
    disqus_url = 'http://adamcod.es{{ post.url }}';
{% endif %}
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
