<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    {% if page.title %}
        <title>{{ page.title | strip_html }} - adamcod.es</title>
    {% elsif post.title %}
        <title>{{ post.title | strip_html }} - adamcod.es</title>
    {% else %}
        <title>words on code - adamcod.es</title>
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% elsif page.summary %}
    <meta name="description" content="{{ page.summary | strip_html }}">
    {% endif %}

    <meta name="author" content="Adam Brett">

    <!-- style -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/adamcodes/">

    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="layout-meta">
        <header>
            <p class="author vcard">
                <strong><a href="http://adamcod.es" rel="author">adamcod.es</a></strong><br />
                by <a href="http://adambrett.co.uk">Adam Brett</a>
            </p>
        </header>

        <nav>
            <ul>
                <!--li><a href="http://adambrett.co.uk/about">About</a></li-->
                <li><a href="/archive.html"><i class="icon-book"></i> Archive</a></li>
                <li><a href="http://feeds.feedburner.com/adamcodes/"><i class="icon-rss"></i> Subscribe</a></li>
                <li><a href="http://twitter.com/sixdaysad/"><i class="icon-twitter"></i> Contact</a></li>
            </ul>
        </nav>
    </section>

    <section class="layout-main">
        {{ content }}

        <footer>
            <p>Copyright &copy; 2012 <a href="http://adambrett.co.uk">Adam Brett</a>.  All rights reserved.</p>
        </footer>
    </section>

    <script>
        (function () {
            var images = document.getElementsByTagName('img');
            for (var i = 0; i < images.length; i++) {
                images[i].style.height = (Math.ceil(images[i].clientHeight/26) * 26) + 'px';
            }
        })();
    </script>
    <script src="http://platform.twitter.com/widgets.js?ver=1.1"></script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10572636-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>
